REGISTRY_IMAGE=cr.yandex/REGISTRY_ID/tuneai
IMAGE_TAG=GIT_SHA
POSTGRES_HOST=POSTGRES_HOST_FQDN
YANDEX_FOLDER_ID=__YANDEX_FOLDER_ID__
LOCKBOX_SECRET_ID=__LOCKBOX_SECRET_ID__
TEST_CREATOR_ROLES=student,teacher,interviewer,admin
ANSWER_REVIEWER_ROLES=teacher,interviewer,admin
NEXT_PUBLIC_TUNEAI_PRODUCT_NAME=TuneAI
NEXT_PUBLIC_TUNEAI_LOGO_TEXT=TuneAI
NEXT_PUBLIC_TUNEAI_LOGO_URL=
NEXT_PUBLIC_TUNEAI_REPOSITORY_URL=https://github.com/CRUDoshleps/TuneAI
NEXT_PUBLIC_TUNEAI_DOCS_URL=https://github.com/CRUDoshleps/TuneAI
NEXT_PUBLIC_TUNEAI_CONFIG_JSON=
