REGISTRY_IMAGE=cr.yandex/REGISTRY_ID/tuneai
IMAGE_TAG=sha-GIT_SHA
POSTGRES_HOST=POSTGRES_HOST_FQDN
YANDEX_FOLDER_ID=__YANDEX_FOLDER_ID__
LOCKBOX_SECRET_ID=__LOCKBOX_SECRET_ID__
PUBLIC_HEALTH_URL=https://tuneai.example.com/api/health
